# Django
Django==6.0.6
django-polymorphic==4.11.2
django-admin-interface==0.32.0
django-health-check==3.20.8
django-cleanup==9.0.0
django-solo==2.5.1
djangorestframework==3.17.1
django-vite==3.1.0
django-cache-cleaner==0.2.0

# Environment variables
django-environ==0.12.0
python-dotenv==1.2.1

# server
gunicorn==25.1.0

# Database (psycopg[binary] cannot be locked to specific version number)
psycopg[binary]